<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fusoft.walkboner">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".WalkBoner"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/OneUI4Theme"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5168974918674183~8189620595" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.NotificationsService" />
        <receiver
            android:name=".WalkBonerBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreatePostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moderation.ModerationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moderation.BanUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moderation.ModChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PremiumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.PinSetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnlockAppActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".FullPhotoViewerActivity" />
        <activity
            android:name=".AddInfluencerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppDebugActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PasswordResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.BiometricUnlockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moderation.AcceptInfluencersProfilesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OpenSourceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.PublishLinksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonAlbumsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateAlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MediaViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uniload.UniloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moderation.DeleteInfluencerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moderation.ModLoggerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>